.tui-popup-body{
  // START colorpicker样式
  .tui-colorpicker-palette-container, .tui-view-2{
    height: 70px;
  }
  .tui-colorpicker-clearfix {
    width: 110px;
    height: 30px;
    line-height: 30px;
    .tui-colorpicker-palette-hex{
      width: 80px;
      margin-top: 6px;
      margin-right: 6px;
    }
  }
  .te-apply-button {
    bottom: 137px;
    line-height: 13px;
    color: #000;
  }
  // END colorpicker样式
}
.tui-editor-contents{
  word-break: break-all;
  h1, h2{
    margin-top: 15px;
    border:none !important;
  }
}